* {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

.App {
  background-image: radial-gradient(circle farthest-side at top center, #434343 0%, #2F2C2C 36%);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sketchpicker {
  position: absolute;
  top: 27.4vh;
  right: 2vw;
}

.lightbox-sub {
  width: 95%;
  height: 95%;
}

.lightbox-circle {
  border: 6.3vw solid #fff;
  height: 90.5%;
  width: 51.56%;
  border-radius: 50%;
  margin: 40px auto;
}

.halogen-line {
  height: 3px;
}

footer {
  text-align: center;
}


