.App {
  text-align: center;
  background-image: radial-gradient(
    circle farthest-side at top center,
    #434343 0%,
    #2f2c2c 36%
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.heading-font {
  font-family: "Nunito Sans", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #a50eb3;*/
  /* background: linear-gradient(#e66465, #9198e5); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.halogen-line {
  height: 3px;
}

.App-link {
  color: #1f657a;
}

.lightbox-sub {
  width: 95%;
  height: 95%;
}

.sketchpicker {
  position: absolute;
  bottom: 13.7vh;
  right: 1vw;
}

.lightbox-circle {
  border: 5.63rem solid #fff;
  height: 44.063rem;
  width: 44.063rem;
  border-radius: 50%;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
