* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightseagreen;
}

p,
button {
  font-family: "Nunito Sans", sans-serif;
}

button {
  font-weight: 800;
}

.demo {
  display: flex;
}

.demo-image img {
  height: auto;
  width: 55em;
  display: inline-block;
}

.demo .example-circles {
  background-color: palegoldenrod;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle {
  height: 14em;
  width: 14em;
  border: 60px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px lightgrey, 0 0 25px yellow, 0 0 5px lightyellow;
}

.inner-circle {
  height: 7em;
  width: 7em;
  border: 13px solid white;
  border-radius: 50%;
  box-shadow: 1px 1px 2px lightgrey, 0 0 25px yellow, 0 0 5px lightyellow;
}

.home-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(20px);
    background-color: rgb(55 55 55 / 40%);
}

.home-nav a {
    color: white;
    font-size: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 7px;
}

.home-nav button {
    margin-right: 40px;
    border-radius: 5000px;
    border: none;
    box-shadow: none;
    background-color: #605f5f;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.home-nav .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-left: 7px;
}

.hero {
  display: flex;
  height: 100vh;
  margin-bottom: 20px;
  background: linear-gradient(45deg, rgba(47, 44, 44, 1), rgba(56, 56, 56, 1));
}

#description-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  width: 50vw;
  margin-left: 20px;
  margin-top: 50px;
}

#logo {
  width: 350px;
  height: 6.5rem;
}

#description-box > p {
  margin-top: 20px;
  font-size: 2.5rem;
  line-height: 3.6rem;
}

#start-button {
  border-radius: 50px;
  background-color: white;
  border-style: none;
  height: 2.5rem;
  width: 150px;
  margin-top: 20px;
}

#box-2 {
  display: flex;
  flex-direction: row;
  width: 50vw;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-top: 50px;
  position: relative;
}

#blue-screen {
  width: 50%;
  margin-top: 130px;
  margin-right: 80px;
  z-index: 1;
}

#man-waving {
  position: absolute;
  width: 22%;
  z-index: 0;
  top: 30px;
  right: 80px;
}

#mobile-screen {
  display: flex;
  width: 10%;
  z-index: 1;
  margin-right: 100px;
  margin-top: 160px;
}
